<?xml version="1.0"?>
<!--
/**
 * Copyright © 2023 imsafu. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <imsafupayment>
                <title>Imsafu_Payment</title>
                <model>Imsafu\Payment\Model\PaymentMethod</model>
                <active>0</active>
                <new_order_status>pending</new_order_status>
                <success_order_status>complete</success_order_status>
                <failure_order_status>canceled</failure_order_status>
                <invoice>0</invoice>
                <sort_order>0</sort_order>
                <allowspecific>0</allowspecific>
                <test_mode>0</test_mode>
            </imsafupayment>
        </payment>
    </default>
</config>
